@charset "UTF-8";
/*-------------------------
        R E S E T
-------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

* {
  outline: none;
}

/*-------------------------
         I N I T
-------------------------*/
* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  color: #222;
  font-family: "Open Sans", "sans-serif", "微軟正黑體", "Microsoft JhengHei";
  font-size: 100%;
  line-height: 170%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: 18px;
  overflow: hidden;
}

#container {
  overflow: hidden;
  position: relative;
}

.mobile {
  display: none !important;
}

.clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cursor {
  cursor: pointer;
}

.inline-b {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.hidden {
  display: none !important;
}

.ta-l {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.vta-t {
  vertical-align: top;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.pos-r {
  position: relative;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.p-0 {
  padding: 0 !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-100 {
  padding-top: 100px;
}

.p_20 {
  padding: 20px 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px 0;
}

.pl-20 {
  padding: 0 20px;
}

.pl-5p {
  padding-left: 5%;
}

@media (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 17px;
  }
  .tablet {
    display: block !important;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
  .mobile {
    display: inline-block !important;
  }
  .m-block {
    display: block;
  }
  .m-v-a-t {
    vertical-align: top;
  }
}