@charset "UTF-8";
/*-------------------------
        R E S E T
-------------------------*/
/* line 6, ../sass/frame/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 26, ../sass/frame/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/frame/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, ../sass/frame/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 37, ../sass/frame/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/frame/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/frame/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 54, ../sass/frame/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 60, ../sass/frame/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 66, ../sass/frame/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 69, ../sass/frame/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 78, ../sass/frame/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 86, ../sass/frame/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 89, ../sass/frame/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 93, ../sass/frame/_reset.scss */
* {
  outline: none;
}

/*-------------------------
         I N I T
-------------------------*/
/* line 11, ../sass/frame.scss */
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/frame.scss */
html, body {
  color: #222;
  font-family: 'Open Sans', sans-serif, "微軟正黑體","Microsoft JhengHei";
  font-size: 100%;
  line-height: 170%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* line 30, ../sass/frame.scss */
body {
  font-size: 18px;
  background: #ffe6e8;
  overflow: hidden;
}

/* line 36, ../sass/frame.scss */
a {
  color: #366ec3;
  text-decoration: underline;
}

/* line 40, ../sass/frame.scss */
#container {
  overflow: hidden;
}

/* line 45, ../sass/frame.scss */
.right {
  float: right;
}

/* line 47, ../sass/frame.scss */
.mobile {
  display: none !important;
}

/* line 49, ../sass/frame.scss */
.clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 57, ../sass/frame.scss */
.cursor {
  cursor: pointer;
}

/* line 59, ../sass/frame.scss */
.inline-b {
  display: inline-block !important;
}

/* line 60, ../sass/frame.scss */
.block {
  display: block !important;
}

/* line 61, ../sass/frame.scss */
.hidden {
  display: none !important;
}

/* line 63, ../sass/frame.scss */
.ta-l {
  text-align: left !important;
}

/* line 64, ../sass/frame.scss */
.center {
  text-align: center !important;
}

/* line 65, ../sass/frame.scss */
.vta-t {
  vertical-align: top;
}

/* line 66, ../sass/frame.scss */
.underline {
  text-decoration: underline;
}

/* line 68, ../sass/frame.scss */
.bold {
  font-weight: bold;
}

/* line 69, ../sass/frame.scss */
.normal {
  font-weight: normal;
}

/* line 71, ../sass/frame.scss */
.pos-r {
  position: relative;
}

/* line 73, ../sass/frame.scss */
.m-0 {
  margin: 0 !important;
}

/* line 74, ../sass/frame.scss */
.m-auto {
  margin: 0 auto !important;
}

/* line 75, ../sass/frame.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 76, ../sass/frame.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 77, ../sass/frame.scss */
.mb-5 {
  margin-bottom: 5px !important;
}

/* line 78, ../sass/frame.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 79, ../sass/frame.scss */
.mb-15 {
  margin-bottom: 15px;
}

/* line 80, ../sass/frame.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 81, ../sass/frame.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 82, ../sass/frame.scss */
.mr--5 {
  margin-right: -5px;
}

/* line 83, ../sass/frame.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 85, ../sass/frame.scss */
.p-0 {
  padding: 0 !important;
}

/* line 86, ../sass/frame.scss */
.pb-20 {
  padding-bottom: 20px;
}

/* line 87, ../sass/frame.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 88, ../sass/frame.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 89, ../sass/frame.scss */
.pt-40 {
  padding-top: 40px !important;
}

/* line 90, ../sass/frame.scss */
.pt-60 {
  padding-top: 60px !important;
}

/* line 91, ../sass/frame.scss */
.p_20 {
  padding: 20px 0;
}

/* line 92, ../sass/frame.scss */
.p-10 {
  padding: 10px;
}

/* line 93, ../sass/frame.scss */
.p-15 {
  padding: 15px 0;
}

/* line 94, ../sass/frame.scss */
.pl-20 {
  padding: 0 20px;
}

/* line 97, ../sass/frame.scss */
.pl-5p {
  padding-left: 5%;
}

/* line 100, ../sass/frame.scss */
.light-yellow {
  color: #fffaa5;
}

/* line 102, ../sass/frame.scss */
.red {
  color: #bb2127;
}

@media (max-width: 1024px) {
  /* line 105, ../sass/frame.scss */
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 117, ../sass/frame.scss */
  body {
    font-size: 17px;
  }

  /* line 121, ../sass/frame.scss */
  .tablet {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 132, ../sass/frame.scss */
  body {
    font-size: 1rem;
  }

  /* line 137, ../sass/frame.scss */
  .mobile {
    display: inline-block !important;
  }

  /* line 140, ../sass/frame.scss */
  .m-block {
    display: block;
  }

  /* line 143, ../sass/frame.scss */
  .m-v-a-t {
    vertical-align: top;
  }
}
